$color-ba-orange-1: #ffbc00;
$color-ba-orange-2: #ffd102;

$color-booking-blue: #003580;

$navbar-height: 1.5rem;
// $ba-header-bg-height: 34rem;
// $ba-header-bg-height-expanded: 70rem;
$ba-header-height-mobile: 35rem;
$ba-content-width-large: 115rem;
$ba-content-width-medium: 105rem;
$ba-bg-tint: rgba(0,0,0,.7);